body{
    padding-top:1%;
    padding-left:4%;
}
table{
    border-collapse:collapse;
}
td{
    border:1px solid black;
    text-align: center;
    width:50px;
}
.imagen1{
    width:250px;
    height:350px;
    background-image:url("img/vader.jpg");
    background-size: cover;
}
.imagen2{
    width:250px;
    height:350px;
    background-image:url("img/visas.jpg");
    background-size: cover;
}
.imagen3{
    width:250px;
    height:350px;
    background-image:url("img/satele.png");
    background-size: cover;
}