*{
    box-sizing:border-box;
}
body{
    padding:2%;
    background-color:aliceblue;
    font-size:13pt;
}
table{
    width:80%;
    margin:0 auto;
}
tr{
    display:flex;
    height:40px;
    align-items:center;
}
td{
    text-align:center;
}
tr:nth-child(even){
    background-color:rgb(217, 230, 238);
}