@media screen and (max-device-width:250px){
    .imagen1, .imagen2{
        left:100px!important;
    }
    .boton{
        float: none!important;
        margin-left:50%;
    }
}

*{
    box-sizing: border-box;
}
body{
    background-color:#424242;
    padding:1% 5% 0;
    font-size: 1.1em;
    font-weight: bold;
}
#logo{
    float: left;
    width:100px;
}
h1{
    text-align: center;
    color:#f64600;
    margin-top:3%;
}
li{
    margin-bottom: 1%;
    list-style: none;
    margin-left:-1%;
}
header{
    overflow:hidden;
    margin-bottom:4%;
    box-shadow:3px 3px 8px 1px #e0e0e0;
    padding:1%
}
a{
    text-decoration: none;
}
a:visited{
    color:#e0e0e0;
}
a:link{
    color:#ffb835ea;
}
.boton{
    padding:.8%;
    background-color:#f64600;
    border-radius:5px;
    width:150px;
    text-align: center;
    float:right;
}
.boton a{
    color:white;
    font-weight: bold;
}
.imagen1{
    background-image: url(img/satele.png);
    width:300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    opacity: .5;
    z-index:1;
    position:absolute;
    top:0;
    left:300px;
}
.imagen2{
    background-image: url(img/visas.jpg);
    width:300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    opacity:.5;
    z-index:9;
    position:absolute;
    top:50px;
    left:360px;
}
.imagen1:hover, .imagen2:hover{
    opacity:1;
    transform: scale(1.1);
    transition: .5s ease-out;
    z-index: 99;
}
.imagenes{
    margin-top:4%;
    position:relative;
    height:550px;
}
footer{
    border:1px solid #e0e0e0;
    border-radius:8px;
    padding:2%;
    clear:both;
    margin-top:6%;
}
p{
    color:#e0e0e0;
}
.info{
    float:left;
}
.mapa{
    margin-left:10%;
    width:100px;
}
.p_footer{
    color:#ffb835ea;
}
