*{
    box-sizing:border-box;
    margin:0;
}
body{
    padding:2%;
    background-color:#CACACA;
}
#boton{
    width:300px;
    background-color:darkslategrey;
    color:white;
    border:1px solid darkslategrey;
}
#boton:hover{
    transition:.4s ease-out;
    background-color:#CACACA;
    color:darkslategrey;
}
