table{
    border-collapse: collapse;
}
td{
    border:1px solid black;
}
body{
    padding:2%;
    margin-top:3%;
}
section{
    display: flex;
    justify-content: center;
}
footer{
    margin-top:3%;
    text-align: right;
    font-style: italic;
    font-size: .8em;
}