*{
    box-sizing:border-box;
}
body{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    margin:0;
}
header{
    padding:1%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
p{
    margin:0;
}
textarea{
    resize:none;
    width:250px;
    height:40px;
    overflow-y: auto;
}
.titulo input{
    width:250px;
    margin-left:2%;
}
.titulo{
    width:100%;
}
.titulo{
    margin-bottom:2%;
}
.botonera{
    margin-top:2%;
}
.titulo,.descripcion,.botonera{
    display:flex;
    justify-content:space-around;
    width:100%;
}
#datosIniciales{
    width:30%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
}
#datosIniciales button{
    background-color:darkred;
    color:white;
    font-weight:bold;
    border-radius:5px;
    width:120px;
    border:1px solid darkred;
    padding:1.4%;
}

/*Tablero de notas*/

#tablero{
    width:100%; 
    border-top:1px solid black;
}
#tablero section{
    position:absolute;
    width:150px;
    height:150px;
    background-color:bisque;
    overflow:hidden;
    padding:10px;
    border:1px solid black;
}
#tablero input{
    width:130px;
    margin-bottom:3%;
    background-color:bisque;
}
#tablero textarea{
    width:130px;
    background-color:bisque;
}
#tablero p{
    width:80%;
}
#tablero button{
    background-color:bisque;
}
#tablero textarea{
    height:60px;
}
