@media screen and (max-device-width:790px){
    #main{
        width:90%!important;
    }
    input{
        width:30px!important;
    }
}
@font-face{
    font-family:"chinese";
    src:url(font/ChineseDragon.ttf);
}
*{
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:space-around;
    background-color:rgba(255, 180, 134, 0.609);
    font-family:sans-serif;
    padding:1%;
    font-size:1.1em;
}
#main{
    width:70%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.ventanaPrincipal{
    display:flex;
    justify-content:space-between;
    width:100%;
}
h1{
    text-align:center;
    color:darkred;
    font-size:2em;
    font-family:"chinese";
    letter-spacing:4px;
    margin-bottom:5%;
}
input{
    margin-left:2%;
    font-size:.8em;
    padding:.5%;
    width:10%;
}
.botonera{
    width:100%;
    display:flex;
    justify-content:space-around;
}
#botonJugar{
    position:absolute;
    top:320px;
    background-color:darkred;
    border:1px solid darkred;
    color:white;
    width:100px;
    padding:1%;
    border-radius:5px;
    font-family:"chinese";
    font-size:.9em;
    letter-spacing:3px;
}
#botonJugar:hover{
    transition:.4s ease-out;
    background-color:white;
    color:darkred;
}
img{
    width:100px;
}
